*{
    margin: 0;
    border: 0;
    clear: both;
    font-size: 90%;

}
body{
    display:flex;
    justify-content: center;
    width:100vw;
    height: 100vh;
    background-image: url('./images/bg-lady.jpg') ;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-size: cover;
}

.play{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.play button{
    width: 350px;
    height: 200px;
    border-radius: 50%;
    font-size: 30px;
    background-color:#ff38cd;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal span {
    font-size: 10rem;
    color:#F3D63B
}
main{
    
    display:none;
    border: 1px solid green;
    font-size: 5rem;
    width: 40%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background:#fff;
    background-size: 200px;
    border-radius: 20px 50%;
    margin-right: 500px;
    margin-top: 600px;
}
main div{
    border: 1px solid red;

    margin-right: 40px;    
}

main #ba{
    background-color: #F3D63B;
    border-radius: 100%;
    height:40%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}

main #be{
    background-color: #18A30C;
    height:40%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
main #bi{
    background-color: #FF0099;
    border-radius: 100%;
    height:30%;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
main #bo{
    background-color: #0047FF;
    height:40%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}
main #bu{
    background-color: #E21414;
    border-radius: 100%;
    height:40%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}

main #ba:hover{
    height:40%;
    padding: 30px;
    font-size: 5.8rem;
    transition: 0.3s;
    
}
main #be:hover{
    height:40%;
    padding: 30px;
    font-size: 5.8rem;
    transition: 0.3s;
}
main #bi:hover{
    height:40%;
    padding: 30px;
    font-size: 5.8rem;
    transition: 0.3s;
}
main #bo:hover{
    height:40%;
    padding: 30px;
    font-size: 5.8rem;
    transition: 0.3s;
}
main #bu:hover{
    height:40%;
    padding: 30px;
    font-size: 5.8rem;
    transition: 0.3s;
}